<div class="grid grid-cols-12 gap-4 grid-cols-12 gap-6">
    <p-fieldset legend="Category Select">

      <app-select-chess-event-category [categories]="categories" (selectedCategoryEmitter)="onCategorySelect($event)"></app-select-chess-event-category>

    </p-fieldset>

    <p-fieldset legend="Category Update">
      <form [formGroup]="formGroup">

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            ID
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="id"/>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Title
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="title"/>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Description
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="description"/>
        </p-inputgroup>

      </form>
    </p-fieldset>

    <p-fieldset legend="Action">
      <p-button type="button" class="mr-12" label="Save" (click)="save()" [disabled]="!formGroup.valid"></p-button>
      <p-button type="button" class="mr-12" label="Clear Data" (click)="clear()"></p-button>
      <p-button (onClick)="confirmDelete()" label="Delete" severity="danger" [outlined]="true" [disabled]="!selectedCategory" />
    </p-fieldset>
</div>
