<div class="grid">
  <div class="mobile:col-width-12 tablet:col-width-12 laptop:col-width-12 laptop-l:col-width-12 qhd:col-width-12 max-width:col-width-12">
    <p-fieldset legend="Category Select">

      <app-select-chess-event-category [categories]="categories" (selectedCategoryEmitter)="onCategorySelect($event)"></app-select-chess-event-category>

    </p-fieldset>
  </div>
  <div class="mobile:col-width-12 tablet:col-width-12 laptop:col-width-12 laptop-l:col-width-12 qhd:col-width-12 max-width:col-width-12">
    <p-fieldset legend="Category Update">
      <form [formGroup]="formGroup">

        <p-inputGroup class="mb-2">
          <p-inputGroupAddon>
            ID
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="id"/>
        </p-inputGroup>

        <p-inputGroup class="mb-2">
          <p-inputGroupAddon>
            Title
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="title"/>
        </p-inputGroup>

        <p-inputGroup class="mb-2">
          <p-inputGroupAddon>
            Description
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="description"/>
        </p-inputGroup>

      </form>
    </p-fieldset>
  </div>
</div>
