<p-card *ngIf="participants.value()?.length !== 0 && participants.value() as _participants">
  <ng-template #title>{{'chess.event.participants' | translate}}</ng-template>

  <div class="grid grid-cols-1 4k:grid-cols-5 xlScreen:grid-cols-4 lScreen:grid-cols-3 desktop:grid-cols-3 laptop:grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-4">
    <app-chess-player-card
      *ngFor="let participant of _participants"
      [player]="participant"
      [accounts]="personsPlatformAccount(participant)"
    ></app-chess-player-card>
  </div>

</p-card>
