<p-card class="mt-4">

  <ng-template #title>
    <p class="text-base mb-2 text-surface-900 dark:text-surface-0">{{ "about-me.experience.programming-languages-and-databases" | translate }}</p>
  </ng-template>

  <div class="grid grid-cols-1 4k:grid-cols-7 xlScreen:grid-cols-6 lScreen:grid-cols-5 desktop:grid-cols-4 laptop:grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-4">
    @for (programmingLanguage of programmingLanguages(); track programmingLanguage){
      <app-about-me-experience-card
        [title]="programmingLanguage.experience"
        [subtitle]="'about-me.experience.usage-time' | translate:{years: programmingLanguage.until - programmingLanguage.from}"
      >
      </app-about-me-experience-card>
    }
  </div>
</p-card>


<p-card class="mt-4">

  <ng-template #title>
    <p class="text-base mb-2 text-surface-900 dark:text-surface-0">{{ "about-me.experience.platforms-and-tools" | translate }}</p>
  </ng-template>

  <div class="grid grid-cols-1 4k:grid-cols-7 xlScreen:grid-cols-6 lScreen:grid-cols-5 desktop:grid-cols-4 laptop:grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-4">
    @for (platform of platforms(); track platform){
      <app-about-me-experience-card
        [title]="platform.experience"
        [subtitle]="'about-me.experience.usage-time' | translate:{years: platform.until - platform.from}"
      >
      </app-about-me-experience-card>
    }
  </div>
</p-card>


<p-card class="mt-4">

  <ng-template #title>
    <p class="text-base mb-2 text-surface-900 dark:text-surface-0">{{ "about-me.experience.softskills" | translate }}</p>
  </ng-template>

  <div class="grid grid-cols-1 4k:grid-cols-7 xlScreen:grid-cols-6 lScreen:grid-cols-5 desktop:grid-cols-4 laptop:grid-cols-3 tablet:grid-cols-2 mobile:grid-cols-1 gap-4">
    @for (softskill of softskills(); track softskill){
      <app-about-me-experience-card
        [title]="softskill.experience"
        [description]="softskill.description"
      >
      </app-about-me-experience-card>
    }
  </div>
</p-card>
