<div class="card">
  <p-treeTable [value]="tree" [scrollable]="true" class="p-treetable-sm" [selection]="'multiple'" [(selection)]="selectedNodes">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Platform</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">
        <td>
          <p-treeTableToggler [rowNode]="rowNode" />
          {{ rowData.name }}
        </td>
        <td>{{ rowData.size }}</td>
        <td>{{ rowData.platform }}</td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
