// TODO switch to other theme by user
@import "~primeng/resources/themes/nova/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */

body{
  background-color: var(--surface-a);
}

$header-background-color: var(--surface-b);
$header-title-color: var(--text-color);

