<section class="login">

  <p-card pFocusTrap class="p-12 rounded-border">
    <div class="flex flex-col items-center justify-center gap-12">
        <p-floatlabel>
          <input id="username" type="text" pInputText [(ngModel)]="username" />
          <label for="username">{{ "login.username" | translate }}</label>
        </p-floatlabel>
        <p-floatlabel>
          <p-password id="password" [feedback]="false" [toggleMask]="true" [(ngModel)]="password" />
          <label for="password">{{ "login.password" | translate }}</label>
        </p-floatlabel>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex gap-6 mt-1">
        <p-button label='{{ "login.login" | translate }}' class="w-full" styleClass="w-full" (onClick)="login()"></p-button>
        <p-button label='{{ "login.register" | translate }}' class="w-full" styleClass="w-full" (onClick)="register()"></p-button>
      </div>
    </ng-template>
  </p-card>

</section>
