@if (games.value(); as _games) {
  @if (_games.length > 0) {
    <p-card>
      <ng-template #title>{{'chess.event.games' | translate}}</ng-template>
      <p-table
        [value]="_games"
        class="p-datatable-striped"
      >
        <ng-template #header>
          <tr>
            <th>{{'chess.game.white' | translate}}</th>
            <th>{{'chess.game.black' | translate}}</th>
            <th>{{'chess.game.result.title' | translate}}</th>
            <th>{{'chess.game.playedAt' | translate}}</th>
            <th>{{'chess.game.opening' | translate}}</th>
          </tr>
        </ng-template>
        <ng-template #body let-game>
          <tr>
            <td>
              @if (game.gameResult === GameResult.WHITE_WIN) {
                <strong>{{game.whitePlayer.username}}</strong>
              } @else {
                {{game.whitePlayer.username}}
              }
              @if (game.whitePlayer.rating) {
                ({{game.whitePlayer.rating}})
              }
            </td>
            <td>
              @if (game.gameResult === GameResult.BLACK_WIN) {
                <strong>{{game.blackPlayer.username}}</strong>
              } @else {
                {{game.blackPlayer.username}}
              }
              @if (game.blackPlayer.rating) {
                ({{game.blackPlayer.rating}})
              }
            </td>
            <td>{{'chess.game.result.' + game.gameResult | translate}}</td>
            <td>{{game.playedAt | date:'medium'}}</td>
            <td>{{game.openingName}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  }
}
