<p-table
  stripedRows
  [value]="events()"
  [(selection)]="selectedEvent"
  selectionMode="single"
  (onRowSelect)="onSelectionChange()"
  (onRowUnselect)="onSelectionChange()"
  [paginator]="true"
  [rows]="10"
  >
  <ng-template #header>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Location</th>
      <th>From</th>
      <th>To</th>
      <th>Url</th>
      <th>Embed Url</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter
          type="text"
          field="title"
          placeholder="Search by title"
          ariaLabel="Filter Title"
          matchMode="contains"
          [showMenu]="false"
          />
        </th>
        <th>
          <p-columnFilter
            [matchModeOptions]="matchModeOptions"
            [matchMode]="eventCategoryFilterName"
            [showMenu]="false"
            type="text"
            field="categories"
            placeholder="Search by category"
            ariaLabel="Filter Category"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="location"
              placeholder="Search by location"
              ariaLabel="Filter Location"
              matchMode="contains"
              [showMenu]="false"
              />
            </th>
            <th></th>
            <th></th>
            <th>
              <p-columnFilter
                type="boolean"
                field="url"
                [matchModeOptions]="matchModeOptions"
                [matchMode]="eventUrlFilterName"
                [showMenu]="false" />
              </th>
              <th>
                <p-columnFilter
                  type="boolean"
                  field="embedUrl"
                  [matchModeOptions]="matchModeOptions"
                  [matchMode]="eventUrlFilterName"
                  [showMenu]="false" />
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-event let-rowIndex="rowIndex">
              <tr [pSelectableRow]="event" [pSelectableRowIndex]="rowIndex">
                <td>{{ event.title }}</td>
                <td>
                  <!-- TODO Multiple not happened yet therefore no prio-->
                  @for (category of event.categories; track category) {
                    <span>{{ category.title }}</span>
                  }
                </td>
                <td>{{ event.location }}</td>
                <td>{{ event.dateFrom }}</td>
                <td>{{ event.dateTo }}</td>
                <td><fa-icon [icon]="getIcon(event.url)" [style]="getColor(event.url)"></fa-icon></td>
                <td><fa-icon [icon]="getIcon(event.embedUrl)" [style]="getColor(event.embedUrl)"></fa-icon></td>
              </tr>
            </ng-template>
          </p-table>
