<p-confirmDialog />

<p-table
  #table
  styleClass="p-datatable-striped"
  [value]="events"
  [(selection)]="selectedEvent"
  selectionMode="single"
  [paginator]="true"
  [rows]="5"
  [globalFilterFields]="['title','location']"
  (onRowSelect)="onSelectionChange()"
  (onRowUnselect)="onSelectionChange()"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="tableSearch" (input)="table.filterGlobal(tableSearch , 'contains')" placeholder="Search" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"></th>
      <th>Title</th>
      <th>Category</th>
      <th>Location</th>
      <th>Nr. of Participants</th>
      <th>From</th>
      <th>To</th>
      <th>Url</th>
      <th>Embed Url</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event let-rowIndex="rowIndex">
    <tr [pSelectableRow]="event" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="event" />
      </td>
      <td>{{ event.title }}</td>
      <td>
        <!-- TODO Multiple not happened yet therefore no prio-->
        <ng-container *ngFor="let category of event.categories">
          <span>{{ category.title }}</span>
        </ng-container>
      </td>
      <td>{{ event.location }}</td>
      <td>{{ event.participants.length }}</td>
      <td>{{ event.dateFrom }}</td>
      <td>{{ event.dateTo }}</td>
      <td><fa-icon [icon]="getIcon(event.url)" [style]="getColor(event.url)"></fa-icon></td>
      <td><fa-icon [icon]="getIcon(event.embedUrl)" [style]="getColor(event.embedUrl)"></fa-icon></td>
    </tr>
  </ng-template>
</p-table>
