DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=

ADMIN_SERVICE_NOTIFY_DISCORD_CHANNEL=
DISCORD_ADMIN_SERVICE_LOG_CHANNEL=
DISCORD_ALEXANDRIA_SERVICE_LOG_CHANNEL=
DISCORD_REGISTRY_SERVICE_LOG_CHANNEL=
DISCORD_GATEWAY_SERVICE_LOG_CHANNEL=
DISCORD_AUTHENTICATION_SERVICE_LOG_CHANNEL=
DISCORD_USERMANAGEMENT_SERVICE_LOG_CHANNEL=
DISCORD_CHESS_SERVICE_LOG_CHANNEL=
DISCORD_FITNESS_SERVICE_LOG_CHANNEL=
DISCORD_MUSIC_SERVICE_LOG_CHANNEL=
DISCORD_WEBSITE_SERVICE_LOG_CHANNEL=