SPRING_ACTIVE_PROFILES=prod
SSL_KEYSTORE_PASSWORD=PleaseChangeMe
JAVA_TOOL_OPTIONS=-XX:+PrintFlagsFinal -XX:+PrintFlagsInitial
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=grafana

ADMIN_SERVICE_USERNAME=PleaseChangeMe
ADMIN_SERVICE_PASSWORD=PleaseChangeMe
ADMIN_SERVICE_NOTIFY_DISCORD_CHANNEL=PleaseChangeMe

DISCORD_BOT_TOKEN=PleaseChangeMe
DISCORD_GUILD_ID=PleaseChangeMe
DISCORD_REGISTRY_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_USERMANAGEMENT_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_WEBSITE_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_CHESS_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_GATEWAY_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_AUTHENTICATION_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_ADMIN_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_FITNESS_SERVICE_LOG_CHANNEL=PleaseChangeMe
DISCORD_MUSIC_SERVICE_LOG_CHANNEL=PleaseChangeMe

USERMANAGEMENT_DB_USERNAME=PleaseChangeMe
USERMANAGEMENT_DB_PASSWORD=PleaseChangeMe
USERMANAGEMENT_DB_ROOT_PASSWORD=PleaseChangeMe
USERMANAGEMENT_DB=usermanagement

AUTHENTICATION_DB_USERNAME=PleaseChangeMe
AUTHENTICATION_DB_PASSWORD=PleaseChangeMe
AUTHENTICATION_DB_ROOT_PASSWORD=PleaseChangeMe
AUTHENTICATION_DB=authentication

CHESS_DB_USERNAME=PleaseChangeMe
CHESS_DB_PASSWORD=PleaseChangeMe
CHESS_DB_ROOT_PASSWORD=PleaseChangeMe
CHESS_DB=chess

FITNESS_DB_USERNAME=PleaseChangeMe
FITNESS_DB_PASSWORD=PleaseChangeMe
FITNESS_DB_ROOT_PASSWORD=PleaseChangeMe
FITNESS_DB=fitness
FITBIT_CLIENT_ID=PleaseChangeMe
FITBIT_CLIENT_SECRET=PleaseChangeMe

MUSIC_DB_USERNAME=PleaseChangeMe
MUSIC_DB_PASSWORD=PleaseChangeMe
MUSIC_DB_ROOT_PASSWORD=PleaseChangeMe
MUSIC_DB=music
SPOTIFY_CLIENT_ID=PleaseChangeMe
SPOTIFY_CLIENT_SECRET=PleaseChangeMe

ZIPKIN_DB_USERNAME=PleaseChangeMe
ZIPKIN_DB_PASSWORD=PleaseChangeMe

PROMETHEUS_EUREKA_URL=http://admin_username:admin_password@host.docker.internal:8761/eureka