<p-table
  #table
  stripedRows
  [value]="categories"
  [(selection)]="selectedCategory"
  selectionMode="single"
  [paginator]="true"
  [rows]="5"
  [globalFilterFields]="['title','location']"
  (onRowSelect)="onSelectionChange()"
  (onRowUnselect)="onSelectionChange()"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          [(ngModel)]="tableSearch"
          (input)="table.filterGlobal(tableSearch, 'contains')"
          placeholder="Search"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </ng-template>
  <ng-template #body let-category let-rowIndex="rowIndex">
    <tr [pSelectableRow]="category" [pSelectableRowIndex]="rowIndex">
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
    </tr>
  </ng-template>
</p-table>
