<div class="grid grid-cols-12 gap-4 grid-cols-12 gap-6">
  <div class="col-span-2">
    <p-select
      [(ngModel)]="selectedSleep"
      [options]="sleeps"
      optionLabel="startTime"
      [filter]="true"
      [filterMatchMode]="'contains'"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex items-center gap-2" *ngIf="selectedSleep">
          <div>{{ selectedSleep.startTime | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>
      </ng-template>
      <ng-template let-sleep pTemplate="item">
        <div class="flex items-center gap-2">
          <div>{{ sleep.startTime | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>
      </ng-template>
    </p-select>

    <div *ngIf="selectedSleep">
      <p>Start: {{selectedSleep.startTime | date: 'dd/MM/yyyy HH:mm'}}</p>
      <p>End: {{selectedSleep.endTime | date: 'dd/MM/yyyy HH:mm'}}</p>
      <p>Duration: {{ selectedSleep.duration / 1000 | seconds }}</p>
      <p>Wake: {{ sumStage(selectedSleep, 'WAKE') | seconds }}</p>
      <p>Rem: {{ sumStage(selectedSleep, 'REM') | seconds }}</p>
      <p>Light: {{ sumStage(selectedSleep, 'LIGHT') | seconds }}</p>
      <p>Deep: {{ sumStage(selectedSleep, 'DEEP') | seconds }}</p>
    </div>

  </div>

  <div class="col-span-10">
    <app-sleep-stages-chart [sleepStages]="selectedSleep?.stages"></app-sleep-stages-chart>
  </div>

</div>
