<div class="grid grid-cols-12 gap-4 grid-cols-12 gap-6">
  <div class="col-span-2">
    <p-select
      [(ngModel)]="selectedSleep"
      [options]="sleeps.value() ?? []"
      optionLabel="startTime"
      [filter]="true"
      [filterMatchMode]="'contains'"
      >
      <ng-template #selectedItem let-selectedOption>
        @if (selectedSleep(); as _selectedSleep) {
          <div class="flex items-center gap-2">
            <div>{{ _selectedSleep?.startTime | date: 'dd/MM/yyyy HH:mm' }}</div>
          </div>
        }
      </ng-template>
      <ng-template #item let-sleep>
        <div class="flex items-center gap-2">
          <div>{{ sleep.startTime | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>
      </ng-template>
    </p-select>

    @if (selectedSleep(); as _selectedSleep) {
        <div>
          <p>Start: {{_selectedSleep?.startTime | date: 'dd/MM/yyyy HH:mm'}}</p>
          <p>End: {{_selectedSleep?.endTime | date: 'dd/MM/yyyy HH:mm'}}</p>
          <p>Duration: {{ (_selectedSleep?.duration ?? 0) / 1000 | seconds }}</p>
        </div>
    }

  </div>

  <div class="col-span-10">
    <app-sleep-stages-chart [sleepStages]="stages.value() ?? []"></app-sleep-stages-chart>
  </div>

</div>
