# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

last 10 versions
Firefox ESR
> 1%
maintained node versions
not IE 1-11
not IE_Mob 1-11
not dead
