<div class="flex flex-row flex-wrap">
  <div class="flex align-items-center justify-content-center m-2">
    <p-card header="Chess" subheader="Chess statistics" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../assets/images/home_chess.jfif" />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Navigate" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="flex align-items-center justify-content-center m-2">
    <p-card header="Donate" subheader="Donate a coffee" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../assets/images/home_donate.jfif" />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Navigate" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
