<section class="register">

  <p-card pFocusTrap class="p-4 border-round">
    <div class="flex flex-column align-items-center justify-content-center gap-4">
      <p-floatlabel>
        <input id="username" type="text" pInputText [(ngModel)]="username" />
        <label for="username">{{ "register.username" | translate }}</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password id="password" [feedback]="false" [toggleMask]="true" [(ngModel)]="password" />
        <label for="password">{{ "register.password" | translate }}</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password id="passwordRepeat" [feedback]="false" [toggleMask]="true" [(ngModel)]="passwordRepeat" />
        <label for="passwordRepeat">{{ "register.password" | translate }}</label>
      </p-floatlabel>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button label='{{ "register.login" | translate }}' class="w-full" styleClass="w-full" (onClick)="login()"></p-button>
        <p-button label='{{ "register.register" | translate }}' class="w-full" styleClass="w-full" (onClick)="register()"></p-button>
      </div>
    </ng-template>
  </p-card>

</section>
