<p-card class="h-full">
  @if (headerImage()) {
    <ng-template #header>
      <img alt="Card Image" class="w-full h-full" ngSrc="{{headerImage()}}" width="1024" height="1024" priority placeholder/>
    </ng-template>
  }
  @if (titleText()) {
    <ng-template #title>{{ titleText() }}</ng-template>
  }

  <div class="h-20">
    @if (content()) {
      <p>
        {{content()}}
      </p>
    }
  </div>

  @if (buttonLabel()) {
    <ng-template #footer>
      <div class="gap-6 mt-1">
        <p-button [label]="buttonLabel()" class="w-full" styleClass="w-full" (onClick)="navigate.emit()"/>
      </div>
    </ng-template>
  }
</p-card>
