<p-card class="h-full">

  <ng-template #title>
    {{player()?.firstname}} {{player()?.lastname}}
    @if (player()?.gender; as gender) {
      <fa-icon [icon]="gender | genderIcon" class="text-slate-500"></fa-icon>
    }
  </ng-template>

  @if (player()?.federation; as federation) {
    <p><strong>{{'chess.event.federation' | translate}}: </strong>{{ federation }}</p>
  }
  @if (player()?.birthday; as birthday) {
    <p><strong>{{'chess.event.birthday' | translate}}: </strong>{{ birthday }}</p>
  }

  @if (accounts(); as _accounts) {
    <ng-template #footer>
      @if (_accounts.length > 0) {
        <div class="flex gap-4 mt-1">
          @for (account of _accounts; track account) {
            <p-button label="{{'chess.platform.'+account.platform | translate}}" (onClick)="openAccount(account)" class="w-full" styleClass="w-full"/>
          }
        </div>
      }
    </ng-template>
  }

</p-card>
