<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>


<!--    <logger name="org.springframework.cloud.gateway" level="TRACE">-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->
<!--    <logger name="org.springframework.http.server.reactive" level="TRACE">-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->
<!--    <logger name="org.springframework.web.reactive" level="TRACE">-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->
<!--    <logger name="org.springframework.boot.autoconfigure.web" level="TRACE">-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->
<!--    <logger name="reactor.netty" level="TRACE">-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->
<!--    <logger name="redisratelimiter" level="TRACE">-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->

</configuration>