<div class="grid grid-cols-1 gap-4">

    <p-fieldset legend="Account Select" [toggleable]="true">

      <p-inputgroup class="mb-6">
        <input pInputText placeholder="Username" [(ngModel)]="searchTerm" />
        <p-selectbutton [options]="searchLocationOptions()" [(ngModel)]="searchLocation" aria-labelledby="basic" />
        <p-button pButton label="Search" (click)="accounts.reload()" />
      </p-inputgroup>


      <app-select-chess-account
        [accounts]="accounts.value()"
        [(selectedAccount)]="selectedAccount"
      >
      </app-select-chess-account>
    </p-fieldset>

    <div class="grid grid-cols-1 gap-4">
      <p-fieldset legend="Account Data">
        <form [formGroup]="formGroup">

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="id" formControlName="id" autocomplete="off" />
            <label for="id">ID</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="platformId" formControlName="platformId" autocomplete="off" />
            <label for="platformId">Platform ID</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="name" formControlName="name" autocomplete="off" />
            <label for="name">Name</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="username" formControlName="username" autocomplete="off" />
            <label for="username">Username</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <p-datePicker id="createdAt" formControlName="createdAt" dateFormat="dd.mm.yy" class="w-full"></p-datePicker>
            <label for="createdAt">Created At</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <p-select id="platform" formControlName="platform" [options]="platforms" class="w-full" variant="filled" />
            <label for="platform">Platform</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <p-select id="personId" formControlName="personId" [options]="allPersons.value()" optionLabel="lastname" optionValue="id" class="w-full" variant="filled" [filter]="true" filterBy="firstname,lastname" >
              <ng-template let-person #item>
                {{ person.firstname }} {{ person.lastname }}
              </ng-template>
            </p-select>
            <label for="personId">Person</label>
          </p-floatlabel>

        </form>
      </p-fieldset>
    </div>

    <p-fieldset legend="Action">
      <p-button type="button" class="mr-12" label="Save" (click)="save()" [disabled]="!formGroup.valid"></p-button>
      <p-button type="button" class="mr-12" label="Clear Data" (click)="clear()"></p-button>
      <p-button type="button" class="mr-12" label="Import Games" (click)="importGames()" [disabled]="selectedAccount() !== undefined && showImportGameButton()"/>
      <p-button type="button" class="mr-12" label="Delete" (onClick)="delete()"  severity="danger" [outlined]="true" [disabled]="selectedAccount() !== undefined" />
    </p-fieldset>

</div>
