<div class="grid grid-cols-1 gap-4">

    <p-fieldset>
      <ng-template #header>
        Account search
      </ng-template>

      <p-inputgroup class="mb-6">
        <input pInputText placeholder="Username" [(ngModel)]="searchTerm" />
        <p-selectbutton [options]="searchLocationOptions()" [(ngModel)]="searchLocation" aria-labelledby="basic" />
        <p-button pButton label="Search" (click)="accounts.reload()" />
      </p-inputgroup>

      <p-table [value]="accounts.value()">
        <ng-template #header>
          <tr>
            <th>Saved?</th>
            <th>Username</th>
            <th>Platform</th>
            <th>Number of games</th>
            <th>Person</th>
            <th>Url</th>
            <th>Import Games</th>
            <th>Delete</th>
          </tr>
        </ng-template>
        <ng-template #body let-account>
          <tr>
            <td>{{ account.id !== undefined }}</td>
            <td>{{ account.username }}</td>
            <td>{{ account.platform }}</td>
            <td>TODO</td>
            <td>{{ account.person?.name }}</td>
            <td>
              <p-button (click)="open(account.url)" label="Open {{account.platform}}" />
            </td>
            <td>
              @if (showImportGameButton(account)) {
                <p-button (click)="importGames(account.id)" label="Import Games" />
              }
            </td>
            <td>
              @if (account.id !== undefined) {
                <p-button (click)="delete(account.id)" label="Delete" severity="danger" />
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>

    <p-fieldset legend="Create Account">
      <form [formGroup]="formGroup">
        <p-floatlabel variant="in" class="mb-2">
          <input class="w-full" pInputText id="id" formControlName="id" autocomplete="off" />
          <label for="id">ID</label>
        </p-floatlabel>
      </form>
    </p-fieldset>

</div>
