<div class="container mx-auto 4k:max-w-screen-lScreen xlScreen:max-w-screen-lScreen">
  <p-card header="{{'about-me.title' | translate}}" class="rounded-border">
    <ng-template #header>
      <img alt="About me AI image" ngSrc="about-me.webp" height="887" width="1792" priority placeholder/>
    </ng-template>

    <div class="grid gap-6">
      <div>
        <p>{{"about-me.s1" | translate}}</p>
      </div>

      <div>
        <p>{{"about-me.s2" | translate}}</p>
      </div>

      <div>
        <p>{{"about-me.s3" | translate}}</p>
      </div>

      <div>
        <p>{{"about-me.s4" | translate}}</p>
      </div>

      <div>
        <p>{{ "about-me.experience.intro" | translate }}</p>
      </div>
    </div>

    @defer {
      <div>
        <app-about-me-experience></app-about-me-experience>
      </div>
    } @placeholder {
      <div>
        <p-skeleton styleClass="mb-2" />
      </div>
    }

    <ng-template #footer>
      <div class="flex gap-6 mt-1">
        <p-button label="LinkedIn" class="w-full" styleClass="w-full" (onClick)="openLinkedIn()" />
        <p-button label="Github" class="w-full" styleClass="w-full" (onClick)="openGithub()"/>
        <p-button label="Donate" class="w-full" styleClass="w-full" (onClick)="openDonate()"/>
      </div>
    </ng-template>
  </p-card>
</div>
