<section class="imprint">
<div class="grid m-2">
  <div class="col-12">

    <p-card [header]="'imprint.contact-address-title' | translate">
      <p>
        {{"owner.name" | translate}}<br/>
        {{"owner.address" | translate}}<br/>
        {{"owner.city" | translate}}<br/>
        {{"owner.country" | translate}}
      </p>
      <p>
        {{"imprint.email-title" | translate}}<br/>
        {{"owner.email" | translate}}
      </p>
    </p-card>
  </div>
  <div class="col-12">
    <p-card [header]="'imprint.disclaimer-of-liability-title' | translate">
      <p>{{"imprint.disclaimer-of-liability-1" | translate}}</p>
      <p>{{"imprint.disclaimer-of-liability-2" | translate}}</p>
      <p>{{"imprint.disclaimer-of-liability-3" | translate}}</p>
    </p-card>
  </div>
  <div class="col-12">
    <p-card [header]="'imprint.disclaimer-of-liability-for-links-title' | translate">
      <p>{{"imprint.disclaimer-of-liability-for-links" | translate}}</p>
    </p-card>
  </div>
  <div class="col-12">
    <p-card [header]="'imprint.copyrights-title' | translate">
      <p>
        {{"imprint.copyrights" | translate}}
      </p>
    </p-card>
  </div>
  <div class="col-12">
    <p-card [header]="'imprint.translation-title' | translate">
      <p>
        {{"imprint.translation-description" | translate}}
      </p>
    </p-card>

  </div>
</div>
</section>
