<div class="p-grid p-align-start p-justify-start">

  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
    <p-dropdown [options]="users" [(ngModel)]="selectedUser" [filter]="true" placeholder="{{'user.selectOne' | translate}}" filterBy="label" (onChange)="userChanged($event)"></p-dropdown>
  </div>

  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" *ngIf="selectedUser !== undefined">
    <app-userdetails [selectedUser]="selectedUser" [changeableUser]="changeableUser" (savedUser)="saveUser($event)" ></app-userdetails>
  </div>

  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" *ngIf="selectedUser !== undefined && hasPermissionUserManagement">
    <p-fieldset
      legend="{{'user.permissions' | translate}}"
      [toggleable]="true"
      [transitionOptions]="'500ms'"
      [collapsed]="true"
    >

      <p-pickList
        [source]="availablePermissions"
        [target]="selectedUser.permissions"
        sourceHeader="{{'general.available' | translate}}"
        targetHeader="{{'general.selected' | translate}}"
        [responsive]="true"
        dragdrop="true"
        [sourceStyle]="{'height':'300px'}"
        [targetStyle]="{'height':'300px'}"
        (onMoveToSource)="savePermissions()"
        (onMoveToTarget)="savePermissions()"
        [showSourceControls]="false"
        [showTargetControls]="false"
      >
        <ng-template let-permission pTemplate="item">
          <div class="ui-helper-clearfix">
            <span>{{'permission.' + permission.name | translate}}</span>
          </div>
        </ng-template>
      </p-pickList>

    </p-fieldset>
  </div>

  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" *ngIf="selectedUser !== undefined && myUserId === selectedUser?.id">
    <app-user-date-format></app-user-date-format>
  </div>

</div>

<p-dialog
  [(visible)]="loginModalVisible"
  [baseZIndex]="10000"
  [closable]="false"
  [draggable]="true"
  [modal]="true"
  [resizable]="true"
  [style]="{width: loginDialogWidth}"
  header="{{'login.login' | translate}}"
>
  <app-login [onLoginSuccess]="this.onLoginSuccess" [loginName]="changeableUser?.name" [loginNameDisabled]="true"></app-login>
</p-dialog>
