<div class="p-grid p-align-start p-justify-start">

  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
    <p-dropdown [options]="users" [(ngModel)]="selectedUser" [filter]="true" placeholder="{{'user.selectOne' | translate}}" filterBy="label" (onChange)="userChanged($event)"></p-dropdown>
  </div>

  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" *ngIf="selectedUser !== undefined">
    <p-fieldset
      legend="{{'user.user' | translate}}: {{selectedUser?.name}}"
      [toggleable]="true"
      [transitionOptions]="'500ms'"
    >

      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" *ngIf="hasPermissionUserManagement === true">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">{{'user.id' | translate}}</span>
          <input type="text" [disabled]="true" pInputText [(ngModel)]="changeableUser.id">
        </div>
      </div>

      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">{{'user.name' | translate}}</span>
          <input type="text" pInputText [(ngModel)]="changeableUser.name">
        </div>
      </div>

      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">{{'user.emailAddress' | translate}}</span>
          <input type="text" pInputText [(ngModel)]="changeableUser.emailAddress">
        </div>
      </div>

      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">{{'user.newPassword' | translate}}</span>
          <input type="password" pPassword [(ngModel)]="newPassword">
        </div>
      </div>

      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">{{'user.lastLogin' | translate}}</span>
          <input type="text" [disabled]="true" pInputText [ngModel]="changeableUser.lastLogin | customDate">
        </div>
      </div>

      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
        <p-toggleButton
          onLabel="{{'user.enabled' | translate}}"
          offLabel="{{'user.disabled' | translate}}"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          [(ngModel)]="changeableUser.enabled"
        ></p-toggleButton>
      </div>

      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12">
        <p-button label="{{'general.save' | translate}}" (onClick)="saveUser()"></p-button>
      </div>

    </p-fieldset>
  </div>

  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" *ngIf="selectedUser !== undefined && myUserId === selectedUser?.id">
    <p-fieldset
      legend="{{'user.dateFormat' | translate}}"
      [toggleable]="true"
      [transitionOptions]="'500ms'"
    >
      <p-dropdown
        [options]="dateFormats"
        [(ngModel)]="selectedDateFormat"
        (onChange)="changeDateFormat($event)"
      >
        <ng-template let-item pTemplate="selectedItem">
          {{selectedDateFormat?.label || item.label | translate}}
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{item.label | translate}}
        </ng-template>
      </p-dropdown>
    </p-fieldset>
  </div>

</div>

<p-dialog header="{{'login.login' | translate}}" [(visible)]="loginModalVisible" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="true" [resizable]="true" [closable]="false">
  <app-login [onLoginSuccess]="this.onLoginSuccess" [loginName]="changeableUser?.name" [loginNameDisabled]="true"></app-login>
</p-dialog>
