<button class="fixed-bottom-right ui-button-danger" type="button" (click)="dialogVisible = true" pButton icon="pi pi-external-link" label="{{'help.help' | translate}}"></button>
<p-dialog header="{{'help.help' | translate}}" [(visible)]="dialogVisible" position="bottomright" [style]="{width: '50vw'}" [baseZIndex]="10000">

  <span>{{'help.doesntExist' | translate}}</span>

  <p-footer>
    <button type="button" pButton (click)="dialogVisible = false" label="Close"></button>
  </p-footer>

</p-dialog>
