<!-- TODO Button style into class -->
<button
  pButton
  type="button"
  class="p-button-secondary p-button-rounded p-button-outlined"
  (click)="dialogVisible = true"
  icon="pi pi-external-link"
  label="{{'help.help' | translate}}"
  style="
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  "
></button>

<p-dialog header="{{'help.help' | translate}}" [(visible)]="dialogVisible" position="bottomright" [style]="{width: '50vw'}" [baseZIndex]="10000">

  <span>{{'help.doesntExist' | translate}}</span>

  <p-footer>
    <button type="button" pButton (click)="dialogVisible = false" label="Close"></button>
  </p-footer>

</p-dialog>
