<p-sidebar
  [(visible)]="sidebarVisible"
  [position]="'left'"
  [showCloseIcon]="true"
  [modal]="true"
  [autoZIndex]="true"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <span class="font-bold"> {{"navigation.navigation" | translate}} </span>
    </div>
  </ng-template>
  <p-menu
    [model]="navItems"
  >
    <ng-template pTemplate="submenuheader" let-item>
      <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <a pRipple class="flex align-items-center p-menuitem-link">
        <fa-icon  [icon]="item.customIcon"></fa-icon>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
  </p-menu>

  <div class="mt-2">
    <p-image src="https://hosttech.eu/affiliate/logos/ch-location/ch-location-234x60px-red.svg"
             alt="Hosttech Schweizer Serverstandort"
             onclick="window.open('https://www.hosttech.ch/?promocode=31886957', '_blank')"
    />
  </div>

</p-sidebar>

<button
  type="button"
  (click)="sidebarVisible = true"
  pButton
  icon="pi pi-align-left"
></button>
