<p-button
  pButton pRipple
  aria-label="Toggle Sidebar"
  (click)="sidebarVisible = !sidebarVisible"
>
  <fa-icon [icon]="buttonIcon"></fa-icon>
</p-button>

<p-drawer
  [(visible)]="sidebarVisible"
  [position]="'left'"
>
  <ng-template #header>
    <div class="flex items-center gap-2">
      <span class="font-bold"> {{"navigation.navigation" | translate}} </span>
    </div>
  </ng-template>

  <p-menu
    [model]="navItems"
    [dt]="menuStyle"
  >
    <ng-template #submenuheader let-item>
      <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
      <a pRipple class="flex items-center p-menu-item-link" *ngIf="item.visible">
        <fa-icon [icon]="item.customIcon"></fa-icon>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
  </p-menu>

  <div class="mt-2">
    <app-language-select></app-language-select>
  </div>

  <div class="mt-2">
    <p-image src="https://hosttech.eu/affiliate/logos/ch-location/ch-location-234x60px-red.svg"
             alt="Hosttech Schweizer Serverstandort"
             onclick="window.open('https://www.hosttech.ch/?promocode=31886957', '_blank')"
    />
  </div>

</p-drawer>
