<p-card class="h-full">
  <ng-template #title>
    {{application()?.name}}
    <fa-icon [icon]="application()?.status | msStatusIcon" [style]="application()?.status | msStatusStyle"></fa-icon>
  </ng-template>

  @for (instance of application()?.instances; track instance) {
    {{instance.id}}
    <fa-icon [icon]="instance.statusInfo.status | msStatusIcon" [style]="instance.statusInfo.status | msStatusStyle"></fa-icon>
    <p-accordion [value]="0">
      @for (detail of instance.statusInfo.details | keyvalue; track detail; let i = $index) {
        <p-accordion-panel [value]="i">
          <p-accordion-header>{{ detail.key }} <fa-icon [icon]="detail.value?.status | msStatusIcon" [style]="detail.value?.status | msStatusStyle"></fa-icon></p-accordion-header>
          <p-accordion-content>
            @for (detail2 of detail.value?.details ?? {} | keyvalue; track detail2) {
              <p class="m-0">{{detail2.key}}: {{detail2.value}}</p>
            }
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  }
</p-card>
