<div class="container mx-auto">
  <div class="grid grid-cols-1 gap-4">

    <p-fieldset legend="Person Select">
      <app-select-chess-person [persons]="persons" (selectedPersonsEmitter)="selectedPersonsChange($event)"></app-select-chess-person>
    </p-fieldset>

    <div class="grid grid-cols-1 4k:grid-cols-2 xlScreen:grid-cols-2 lScreen:grid-cols-2 desktop:grid-cols-2 laptop:grid-cols-1 tablet:grid-cols-1 mobile:grid-cols-1 gap-4">

      <p-fieldset legend="Person Form">
        <form [formGroup]="formGroup">

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="id" formControlName="id" autocomplete="off" />
            <label for="id">ID</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="firstname" formControlName="firstname" autocomplete="off" />
            <label for="firstname">Firstname</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="lastname" formControlName="lastname" autocomplete="off" />
            <label for="lastname">Lastname</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="fideId" formControlName="fideId" autocomplete="off" />
            <label for="fideId">Fide Id</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <input class="w-full" pInputText id="federation" formControlName="federation" autocomplete="off" />
            <label for="federation">Federation</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="mb-2">
            <p-datePicker id="birthday" formControlName="birthday" dateFormat="dd.mm.yy" styleClass="w-full"/>
            <label for="birthday">Birthday</label>
          </p-floatlabel>

          <p-floatlabel variant="in" class="w-full">
            <p-select id="gender" formControlName="gender" [options]="genders" styleClass="w-full" variant="filled" />
            <label for="gender">Gender</label>
          </p-floatlabel>

        </form>
      </p-fieldset>


      <p-fieldset legend="Account Connect">
        TODO
      </p-fieldset>
    </div>

    <p-fieldset legend="Action">
      <p-button type="button" class="mr-12" label="Save" (click)="save()" [disabled]="!formGroup.valid"></p-button>
      <p-button type="button" class="mr-12" label="Clear Data" (click)="clear()"></p-button>
      <p-button (onClick)="confirmDelete()" label="Delete" severity="danger" [outlined]="true" [disabled]="!selectedPerson" />
    </p-fieldset>

    <p-fieldset legend="Upload Fide Rating List"> <!-- other place to upload fide ratings-->
      <p-fileupload
        mode="basic"
        chooseLabel="Choose File"
        chooseIcon="pi pi-upload"
        name="file"
        url="{{environment.chessService}}/fide/ratings"
        accept=".xml"
        maxFileSize="1000000000"
      ></p-fileupload>
    </p-fieldset>

  </div>
</div>
