<div class="grid">
  <div class="col-12">
    <p-fieldset legend="Person Select">
      <app-select-chess-person [persons]="persons" (selectedPersonsEmitter)="selectedPersonsChange($event)"></app-select-chess-person>
    </p-fieldset>
  </div>

  <div class="mobile:col-width-12 tablet:col-width-12 laptop:col-width-12 laptop-l:col-width-12 qhd:col-width-6 max-width:col-width-6">
    <p-fieldset legend="Person Form">
      <form [formGroup]="formGroup">

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            ID
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="id"/>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Firstname
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="firstname"/>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Lastname
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="lastname"/>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Fide Id
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="fideId"/>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Federation
          </p-inputGroupAddon>
          <input type="text" pInputText formControlName="federation"/>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Birthday
          </p-inputGroupAddon>
          <p-datePicker formControlName="birthday" dateFormat="dd.mm.yy"></p-datePicker>
        </p-inputgroup>

        <p-inputgroup class="mb-2">
          <p-inputGroupAddon>
            Gender
          </p-inputGroupAddon>
          <p-select
            formControlName="gender"
            [options]="genders"
            placeholder="Select a Gender" />
        </p-inputgroup>

      </form>
    </p-fieldset>

  </div>

  <div class="mobile:col-width-12 tablet:col-width-12 laptop:col-width-12 laptop-l:col-width-12 qhd:col-width-6 max-width:col-width-6">
    <p-fieldset legend="Account Connect">
      <table

      >

      </table>
    </p-fieldset>
  </div>

  <div class="mobile:col-width-12 tablet:col-width-12 laptop:col-width-12 laptop-l:col-width-12 qhd:col-width-6 max-width:col-width-6">
    <p-fieldset legend="Action">
      <p-button type="button" class="mr-4" label="Save" (click)="save()" [disabled]="!formGroup.valid"></p-button>
      <p-button type="button" class="mr-4" label="Clear Data" (click)="clear()"></p-button>
      <p-button (onClick)="confirmDelete()" label="Delete" severity="danger" [outlined]="true" [disabled]="!selectedPerson" />
    </p-fieldset>
  </div>

  <div class="mobile:col-width-12 tablet:col-width-12 laptop:col-width-12 laptop-l:col-width-12 qhd:col-width-6 max-width:col-width-6">
    <p-fieldset legend="Upload Fide Rating List">
      <p-fileUpload
        mode="basic"
        chooseLabel="Choose"
        chooseIcon="pi pi-upload"
        name="file"
        url="{{environment.chessService}}/fide/ratings"
        accept=".xml"
        maxFileSize="1000000000"
      />
    </p-fieldset>
  </div>

</div>
