<div class="grid">
  <div class="col-12">
    <p-fieldset legend="Profile" [toggleable]="true">
      <app-fitness-profile></app-fitness-profile>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="Settings" [toggleable]="true" [(collapsed)]="settingsCollapsed">
      Settings
      <p-selectButton
        [options]="screenSizeOptions"
        [(ngModel)]="screenSize"
        optionLabel="label"
        optionValue="value" />
    </p-fieldset>
  </div>
  <div class="{{screenSize}}">
    <p-fieldset legend="Weight" [toggleable]="true">
      <app-fitness-weight></app-fitness-weight>
    </p-fieldset>
  </div>
  <div class="{{screenSize}}">
    <p-fieldset legend="Sleep" [toggleable]="true">
      <app-fitness-sleep></app-fitness-sleep>
    </p-fieldset>
  </div>
  <div class="{{screenSize}}">
    <p-fieldset legend="Activity" [toggleable]="true">
      Step module
    </p-fieldset>
  </div>
  <div class="{{screenSize}}">
    <p-fieldset legend="Calories" [toggleable]="true">
      Calories module (in and out)
    </p-fieldset>
  </div>
</div>
