<p-timeline [value]="eventsSorted()">
  <ng-template #marker let-event>
    <fa-icon [icon]="event | eventIcon" [style]="event | eventIconColor"></fa-icon>
  </ng-template>
  <ng-template #content let-event>
    <div class="cursor-pointer">
      <p class="text-xs">{{ event.dateFrom }} - {{event.dateTo}}</p>
      <p class="text-xs text-muted-color">{{ joinEventCategories(event) }}</p>
      <p [routerLink]="['/chess/events', event.id]">{{ event.title }}</p>
    </div>
  </ng-template>
</p-timeline>
