<div class="card">
  <p-tabView>
    <p-tabPanel header="Opening">
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Elo">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Opponents">
      <p>
        At vero eos et accusamus et iusto odio dignissimos...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Opponent" [disabled]="true">
      <p>
        At vero eos et accusamus et iusto odio dignissimos...
      </p>
    </p-tabPanel>
  </p-tabView>
</div>
