<div class="mb-5">
  <h2>Search Person</h2>

  <div class="mb-2">
    <p-floatLabel>
      <input id="firstname" type="text" pInputText [(ngModel)]="firstname" />
      <label for="firstname">Firstname</label>
    </p-floatLabel>
  </div>

  <div class="mb-2">
    <p-floatLabel>
      <input id="lastname" type="text" pInputText [(ngModel)]="lastname" />
      <label for="lastname">Lastname</label>
    </p-floatLabel>
  </div>

  <div class="mb-2">
    <p-button label="Search" (onClick)="search()" icon="pi pi-search" class="p-button-rounded"/>
  </div>

</div>

<p-pickList
  [source]="sourcePersons"
  [target]="targetPersons"
  sourceHeader="Searched"
  targetHeader="Selected"
  (onMoveToSource)="onMoveToSource($event)"
  (onMoveToTarget)="onMoveToSelected($event)"
  [dragdrop]="true"
  [responsive]="true"
>
  <ng-template let-person pTemplate="item">
    <div class="flex flex-wrap p-2 align-items-center gap-3">
      <div class="flex-1 flex flex-column gap-2">
        <span class="font-bold">{{ person.firstname }}</span>
        <span class="font-bold">{{ person.lastname }}</span>
      </div>
      <span class="font-bold text-900"><i class="pi pi-user"></i> {{ ' ' + person.accounts.length }} </span>
    </div>
  </ng-template>
</p-pickList>
