<div class="flex bg-primary text-primary-contrast items-center justify-center shadow-md h-full">

  <div class="basis-1/4 flex-none text-left">
    @defer () {
      <app-navigation></app-navigation>
    } @placeholder {
      <p>&#9776;</p>
    }
  </div>

  <div class="grow text-center">
    <h1 class="font-bold text-2xl">{{ title() | translate}}</h1>
  </div>

  <div class="basis-1/4 flex-none text-right">
    @defer () {
      <app-logout></app-logout>
    } @placeholder {
      <p>&#9755;</p>
    }
  </div>

</div>
