<div class="mr-4 ml-4">

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        {{'chess.event.details' | translate}}
      </p-tab>
      <p-tab value="1" [disabled]="embedUrl() == undefined">
        <p-avatar image="https://www.chess.com/bundles/web/favicons/favicon.5d6cb047.svg" shape="circle" />

        {{'chess.event.chess-com' | translate}}
      </p-tab>
      <p-tab value="2" [disabled]="gamesTabDisabled()">
        {{'chess.event.games' | translate}}
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">

          <div class="grid grid-cols-1 4k:grid-cols-4 xlScreen:grid-cols-3 lScreen:grid-cols-3 desktop:grid-cols-3 laptop:grid-cols-1 tablet:grid-cols-1 mobile:grid-cols-1 gap-4">

            <div *ngIf="event.value() as _event" class="4k:col-span-1 xlScreen:col-span-1 lScreen:col-span-1 desktop:col-span-1 laptop:col-span-1 tablet:col-span-1 mobile:col-span-1">
              <p-card>
                <ng-template #title>{{_event.title}}</ng-template>
                <ng-template #subtitle>{{categories()}}</ng-template>

                <p *ngIf="_event.platform as platform"><strong>{{'chess.event.organizer' | translate}}: </strong>{{'chess.platform.' + platform | translate}}</p>
                <p *ngIf="_event.location as location"><strong>{{'chess.event.location' | translate}}: </strong>{{ location }}</p>
                <p *ngIf="_event.dateFrom as dateFrom"><strong>{{'chess.event.date-from' | translate}}: </strong>{{ dateFrom }}</p>
                <p *ngIf="_event.dateTo as dateTo"><strong>{{'chess.event.date-to' | translate}}: </strong>{{ dateTo }}</p>

                <ng-template #footer>
                  <div *ngIf="event.value()?.url && event.value()?.url !== ''" >
                    <p-button [label]="'chess.event.open-official-website' | translate" class="w-full" styleClass="w-full" (onClick)="openEvent()" />
                  </div>
                </ng-template>
              </p-card>
            </div>

            <app-chess-event-participants
              class="4k:col-span-3 xlScreen:col-span-2 lScreen:col-span-2 desktop:col-span-2 laptop:col-span-1 tablet:col-span-1 mobile:col-span-1"
              *ngIf="event.value()"
              [event]="event.value()"
            ></app-chess-event-participants>
          </div>


      </p-tabpanel>
      <p-tabpanel value="1">

        <iframe style="border:0;" [src]="embedUrl()" scrolling="no"></iframe>

      </p-tabpanel>
      <p-tabpanel value="2">

        <app-chess-event-games *ngIf="event.value()" [event]="event.value()" (haveContent)="gamesTabDisabled.set(!$event)"></app-chess-event-games>

      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

</div>
