iframe{
  display: block;  /* iframes are inline by default */
  height: 77vh;  /* Set height to 100% of the viewport height */
  width: 100%;  /* Set width to 100% of the viewport width */
  border: none; /* Remove default border */
  overflow: hidden;
}
