@import "./src/styles";

.text-align-left {
  text-align: left !important;
}

:host {
  ::ng-deep .ui-slidemenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text {
    color: $header-background-color !important;
  }

  ::ng-deep .ui-slidemenu .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon {
    color: $header-background-color !important;
  }

  ::ng-deep .p-slidemenu .p-menuitem {
    width: fit-content;
  }

  ::ng-deep * {
    &:focus, &.focus,
    &:active, &.active {
      outline: transparent none 0 !important;
      box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
      -webkit-box-shadow: none !important;
    }
  }
}
