<p-sidebar
  [(visible)]="sidebarVisible"
>
  <!-- TODO calculate viewportHeight-->
  <p-slideMenu
    [model]="navItems"
    class="text-align-left"
    [style]="{
      'white-space':'nowrap',
      'width': 'auto',
      'border': 'none'
    }"
    [viewportHeight]="300"
  ></p-slideMenu>
</p-sidebar>

<button
  *ngIf="authService.isLoggedIn()"
  type="button"
  class="ui-button-secondary"
  (click)="sidebarVisible = true"
  pButton
  icon="pi pi-align-justify"
  label="{{'application.nav' | translate}}"
></button>
