<p-sidebar
  [(visible)]="sidebarVisible"
  [showCloseIcon]="false"
>
  <!-- TODO calculate viewportHeight-->
  <p-slideMenu
    [model]="navItems"
    class="text-align-left"
    [style]="{
      'white-space':'nowrap',
      'width': 'auto',
      'border': 'none'
    }"
    [viewportHeight]="600"
  ></p-slideMenu>
</p-sidebar>

<button
  pButton
  type="button"
  *ngIf="authService.isLoggedIn()"
  class="p-button-secondary p-button-rounded p-button-outlined"
  (click)="sidebarVisible = true"
  icon="pi pi-align-justify"
></button>
