<div class="p-grid">
  <div class="p-col-8 p-offset-2">

    <p-card>
      <h2>{{"privacy-policy.privacy-policy" | translate}}</h2>
      <p>{{"privacy-policy.responsible-spot" | translate}}</p>
      <br/>
      <p>
        {{"owner.name" | translate}} <br/>
        {{"owner.address" | translate}} <br/>
        {{"owner.city" | translate}}
      </p>
      <p>
        {{"owner.phone" | translate}} <br/>
        {{"owner.email" | translate}} <br/>
        {{"owner.domain" | translate}}
      </p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.general-information-title" | translate}}</h2>
      <p>{{"privacy-policy.general-information-1" | translate}}</p>
      <p>{{"privacy-policy.general-information-2" | translate}}</p>
      <p>{{"privacy-policy.general-information-3" | translate}}</p>
      <p>{{"privacy-policy.general-information-4" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.processing-personal-data-title" | translate}}</h2>
      <p>{{"privacy-policy.processing-personal-data-1" | translate}}</p>
      <p>{{"privacy-policy.processing-personal-data-2" | translate}}</p>
      <ul>
        <li>{{"privacy-policy.processing-personal-data-2-li1" | translate}}</li>
        <li>{{"privacy-policy.processing-personal-data-2-li2" | translate}}</li>
        <li>{{"privacy-policy.processing-personal-data-2-li3" | translate}}</li>
        <li>{{"privacy-policy.processing-personal-data-2-li4" | translate}}</li>
        <li>{{"privacy-policy.processing-personal-data-2-li5" | translate}}</li>
      </ul>
      <p>{{"privacy-policy.processing-personal-data-3" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.cookies-title" | translate}}</h2>
      <p>{{"privacy-policy.cookies-1" | translate}}</p>
      <p>{{"privacy-policy.cookies-2" | translate}}</p>
    </p-card>

    <p-card>
    <h2>{{"privacy-policy.ssl-tls-encryption-title" | translate}}</h2>
    <p>{{"privacy-policy.ssl-tls-encryption-1" | translate}}</p>
    <p>{{"privacy-policy.ssl-tls-encryption-2" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.server-logs-title" | translate}}</h2>
      <p>{{"privacy-policy.server-logs-1" | translate}}</p>
      <ul>
        <li>{{"privacy-policy.server-logs-1-li1" | translate}}</li>
        <li>{{"privacy-policy.server-logs-1-li2" | translate}}</li>
        <li>{{"privacy-policy.server-logs-1-li3" | translate}}</li>
        <li>{{"privacy-policy.server-logs-1-li4" | translate}}</li>
        <li>{{"privacy-policy.server-logs-1-li5" | translate}}</li>
      </ul>
      <p>{{"privacy-policy.server-logs-2" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.contact-form-title" | translate}}</h2>
      <p>{{"privacy-policy.contact-form-1" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.rights-data-subjects.title" | translate}}</h2>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-confirmation-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-confirmation-1" | translate}}</p>
      <br/>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-information-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-information-1" | translate}}</p>
      <ul>
        <li>{{"privacy-policy.rights-data-subjects.right-information-1-li1" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-information-1-li2" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-information-1-li3" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-information-1-li4" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-information-1-li5" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-information-1-li6" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-information-1-li7" | translate}}</li>
      </ul>
      <p>{{"privacy-policy.rights-data-subjects.right-information-2" | translate}}</p>
      <p>{{"privacy-policy.rights-data-subjects.right-information-3" | translate}}</p>
      <br/>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-rectification-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-rectification-1" | translate}}</p>
      <p>{{"privacy-policy.rights-data-subjects.right-rectification-2" | translate}}</p>
      <br/>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-erasure-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-erasure-1" | translate}}</p>
      <ul>
        <li>{{"privacy-policy.rights-data-subjects.right-erasure-1-li1" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-erasure-1-li2" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-erasure-1-li3" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-erasure-1-li4" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-erasure-1-li5" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-erasure-1-li6" | translate}}</li>
      </ul>
      <p>{{"privacy-policy.rights-data-subjects.right-erasure-2" | translate}}</p>
      <br/>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-restriction-processing-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-restriction-processing-1" | translate}}</p>
      <ul>
        <li>{{"privacy-policy.rights-data-subjects.right-restriction-processing-1-li1" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-restriction-processing-1-li2" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-restriction-processing-1-li3" | translate}}</li>
        <li>{{"privacy-policy.rights-data-subjects.right-restriction-processing-1-li4" | translate}}</li>
      </ul>
      <p>{{"privacy-policy.rights-data-subjects.right-restriction-processing-2" | translate}}</p>
      <br/>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-data-portability-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-data-portability-1" | translate}}</p>
      <p>{{"privacy-policy.rights-data-subjects.right-data-portability-2" | translate}}</p>
      <p>{{"privacy-policy.rights-data-subjects.right-data-portability-3" | translate}}</p>
      <br/>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-object-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-object-1" | translate}}</p>
      <p>{{"privacy-policy.rights-data-subjects.right-object-2" | translate}}</p>
      <p>{{"privacy-policy.rights-data-subjects.right-object-3" | translate}}</p>
      <br/>
      <p>
        <strong>{{"privacy-policy.rights-data-subjects.right-withdraw-consent-under-data-protection-law-title" | translate}}</strong>
      </p>
      <p>{{"privacy-policy.rights-data-subjects.right-withdraw-consent-under-data-protection-law-1" | translate}}</p>
      <p>{{"privacy-policy.rights-data-subjects.right-withdraw-consent-under-data-protection-law-2" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.copyrights-title" | translate}}</h2>
      <p>{{"privacy-policy.copyrights-1" | translate}}</p>
      <p>{{"privacy-policy.copyrights-2" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.general-disclaimer-title" | translate}}</h2>
      <p>{{"privacy-policy.general-disclaimer-1" | translate}}</p>
      <p>{{"privacy-policy.general-disclaimer-2" | translate}}</p>
      <p>{{"privacy-policy.general-disclaimer-3" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.modifications-title" | translate}}</h2>
      <p>{{"privacy-policy.modifications-1" | translate}}</p>
    </p-card>

    <p-card>
      <h2>{{"privacy-policy.questions-data-protection-officer-title" | translate}}</h2>
      <p>{{"privacy-policy.questions-data-protection-officer-1" | translate}}</p>
    </p-card>

    <p-card>
      <p>{{"owner.city" | translate}}, {{"privacy-policy.last-changed-date" | translate}}
        <br/>{{"privacy-policy.source-title" | translate}} <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">{{"privacy-policy.source" | translate}}</a>
      </p>
    </p-card>

    <p-card>
      <h2>{{"general.translation-title" | translate}}</h2>
      <p>{{"general.translation-description" | translate}}</p>
    </p-card>

  </div>
</div>
