<div class="p-grid">
  <div class="p-col-8 p-offset-2">

    <p-card class="card_margin-bottom">
      <p>
        <strong>{{"impress.contact-address-title" | translate}}</strong>
      </p>
      <p>{{"owner.name" | translate}}<br/>
        {{"owner.address" | translate}}<br/>
        {{"owner.city" | translate}}<br/>
        {{"owner.country" | translate}}
      </p>
      <p>{{"impress.email-title" | translate}}<br/>{{"owner.email" | translate}}
      </p>
    </p-card>

    <p-card class="card_margin-bottom">
      <p>
        <strong>{{"impress.disclaimer-of-liability-title" | translate}}</strong>
      </p>
      <p>{{"impress.disclaimer-of-liability-1" | translate}}</p>
      <p>{{"impress.disclaimer-of-liability-2" | translate}}</p>
      <p>{{"impress.disclaimer-of-liability-3" | translate}}</p>
    </p-card>

    <p-card class="card_margin-bottom">
      <p>
        <strong>{{"impress.disclaimer-of-liability-for-links-title" | translate}}</strong>
      </p>
      <p>{{"impress.disclaimer-of-liability-for-links" | translate}}</p>
    </p-card>

    <p-card class="card_margin-bottom">
      <p>
        <strong>{{"impress.copyrights-title" | translate}}</strong>
      </p>
      <p>{{"impress.copyrights" | translate}}</p>
    </p-card>

    <p-card class="card_margin-bottom">
      <br/>{{"impress.source-title" | translate}}
      <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">{{"impress.source" | translate}}</a>
    </p-card>
  </div>
</div>
