<div class="p-grid">
  <div class="p-col-10 p-offset-1">
    <p>
      <strong>{{"impress.contact-address-title" | translate}}</strong>
    </p>
    <p>{{"impress.name" | translate}}<br/>
      {{"impress.address" | translate}}<br/>
      {{"impress.city" | translate}}<br/>
      {{"impress.country" | translate}}
    </p>
    <p>{{"impress.email-title" | translate}}<br/>{{"impress.email" | translate}}
    </p>
    <p>&nbsp;</p>
    <p>
      <strong>{{"impress.disclaimer-of-liability-title" | translate}}</strong>
    </p>
    <p>{{"impress.disclaimer-of-liability-1" | translate}}</p>
    <p>{{"impress.disclaimer-of-liability-2" | translate}}</p>
    <p>{{"impress.disclaimer-of-liability-3" | translate}}</p>
    <p>&nbsp;</p>
    <p>
      <strong>{{"impress.disclaimer-of-liability-for-links-title" | translate}}</strong>
    </p>
    <p>{{"impress.disclaimer-of-liability-for-links" | translate}}</p>
    <p>&nbsp;</p>
    <p>
      <strong>{{"impress.copyrights-title" | translate}}</strong>
    </p>
    <p>{{"impress.copyrights" | translate}}</p>
    <p>&nbsp;</p>
    <br/>{{"impress.source-title" | translate}}
    <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">{{"impress.source" | translate}}</a>
  </div>
</div>
