<div class="p-grid p-align-center header-background-color header-shadow">

  <div class="p-col-12 p-md-4 p-lg-4 p-xl-4 text-align-center">
    <app-navigation *ngIf="authService.isLoggedIn()"></app-navigation>
  </div>

  <div class="p-col-12 p-md-4 p-lg-4 p-xl-4 text-align-center">
    <app-header-title></app-header-title>
  </div>

  <div class="p-col-12 p-md-4 p-lg-4 p-xl-4 text-align-center">
    <p-dropdown
      [options]="languages"
      [(ngModel)]="selectedLanguage"
      (onChange)="selectLanguage($event)"
      [showTransitionOptions]="'200ms'"
      [hideTransitionOptions]="'200ms'"
    >
      <ng-template let-item pTemplate="selectedItem">
        {{ item.label | translate }}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{item.label | translate}}
      </ng-template>
    </p-dropdown>
  </div>

</div>
