@import "./src/styles";

.header-background-color{
  background-color: $header-background-color
}

.text-align-center{
  text-align: center;
}

.header-title-color{
  color: $header-title-color
}

:host {
  ::ng-deep .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
    background-color: white !important;
    color: black;
    font-weight: bold;
  }

}

.header-shadow {
  box-shadow: 0 3px 10px 0 rgba( 0, 0, 0, 0.3);
}
