.header-background-color{
  background-color: var(--surface-a)
}

.text-align-center{
  text-align: center;
}

:host {
  ::ng-deep .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
    background-color: white !important;
    color: black;
    font-weight: bold;
  }
}

.header-shadow {
  box-shadow: 0 3px 10px 0 rgba( 0, 0, 0, 0.3);
}
