<p-table
  styleClass="p-datatable-striped"
  [value]="persons"
  [(selection)]="selectedPersons"
  selectionMode="multiple"
  [paginator]="true"
  [rows]="5"
  (onRowSelect)="onSelectionChange()"
  (onRowUnselect)="onSelectionChange()"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"></th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Fide Id</th>
      <th>Federation</th>
      <th>Birthday</th>
      <th>Gender</th>
    </tr>
    <tr>
      <th></th>
      <th>
        <p-columnFilter
          type="text"
          field="firstname"
          placeholder="Search by firstname"
          ariaLabel="Filter Firstname"
          matchMode="contains"
          [showMenu]="false"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="lastname"
          placeholder="Search by lastname"
          ariaLabel="Filter Lastname"
          matchMode="contains"
          [showMenu]="false"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="fideId"
          placeholder="Search by Fide Id"
          ariaLabel="Filter Fide Id"
          matchMode="contains"
          [showMenu]="false"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="federation"
          placeholder="Search by federation"
          ariaLabel="Filter Federation"
          matchMode="contains"
          [showMenu]="false"
        />
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
    <tr [pSelectableRow]="person" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="person" disabled="true"/>
      </td>
      <td>{{ person.firstname }}</td>
      <td>{{ person.lastname }}</td>
      <td>{{ person.fideId }}</td>
      <td>{{ person.federation }}</td>
      <td>{{ person.birthday }}</td>
      <td><fa-icon [icon]="getGenderIcon(person)"></fa-icon></td>
    </tr>
  </ng-template>
</p-table>
